#section-1{
    height: 30vh;
}

#section-1>h3{
    text-align: center;
    color: gray;
    margin: 2rem 0;
}

#companies{
    display: flex;
    position: relative;
    margin: 0 5rem;
    justify-content: space-between;
}

#companies>div{
    height: 25vh;
}

#companies img{
    height: 40%;
    width: 100%;
}
/* 
@media only screen and(max-width:950px){
    #section-1{
        width: 80%;
        margin: 0;
    }

    #section-1>h3{
        font-size: 3em;
        font-weight: 200 !important;
    }

     #companies{
        display: grid !important;
        grid-template-columns: repeat(4, 1fr) !important;
    } 

    #companies>div{
        border: 1px solid red;
        height: 50px;
        width: 50px;
    }

    #companies img{
        width: 80%;
        height: auto;
    }
} */