#section-1{
    height: 30vh;
}

#section-1>h3{
    text-align: center;
    color: gray;
    margin: 2rem 0;
}

#companies{
    display: flex;
    margin: 0 5rem;
    justify-content: space-between;
}

#companies>div{
    width: 20vw;
    padding: 10px;
}

#companies img{
    height: auto;
    width: 100%;
}

@media only screen and (max-width:750px){
    #section-1>h3{
        font-size: 1rem;
    }

    #companies{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 2rem;
    }

}

@media only screen and (max-width: 480px){
    #companies{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 1rem;
    }
}