#section-6{
    background-color: #f0f0f0;
    padding:20px;
}

#section-6>h1{
    border-bottom: 1px solid rgb(208, 198, 198);
    padding: 10px;
    margin: 0 2rem;
}

#section-6>div{
    display: flex;
    gap: 50px;
    margin: 0 2rem;
}

#chatGPT>div, #development>div, #design>div, #business>div{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.working:hover{
    color: rgb(103, 6, 188);
}

#trending-skills{
    border: 1px solid black;
    font-size: 17px;
    margin: 1rem;
    font-weight: 700;
}

#trending-skills p{
    margin: 1rem;
    font-size: 13px;
    font-weight: 700;
}

#trending-skills:hover{
    background-color:#dbe2e6 !important; 
    color: black !important;
}

.working{
    color: rgb(129, 5, 238);
    padding: 10px;
}

@media only screen and (max-width:950px){
    #section-6{
        margin: 4rem 0;
        max-width: 100%;
    }

    #section-6>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #section-6 h1{
        font-size: 1.2em;
        margin: 0;
    }

    #chatGPT, #development, #design, #business{
        max-width: 100%;
        margin: 0;
    }

    #chatGPT div, #development div, #design div, #business div{
        max-width: 100%;
        margin: 0;
    }

    #chatGPT h1, #development h1, #design h1, #business h1{
        font-size: 1em;
        margin: 0;
    }

    #chatGPT h2, #development h2, #design h2, #business h2{
        font-size: 1em;
        margin: 0;
    }

    #trending-skills{
        display: none !important;
    }
}