#hero-containeer{
    display: flex;
    height: 60vh;
    position: relative;
}

#hero-box{
    margin:0 3rem;
}

#culture{
    height: 60vh;
    width: 600px;
    flex-basis: 60%;
} 

#culture>img{
    width: 100%;
    height: 100%;
}

#sales-box{
    background-color: #40dbb8;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sales-info{
    background-color: white;
    color: black;
    width: 30vw;
    padding: 40px;
}

#sales-info>h1{
    font-size: 40px;
}

#skills-info{
    padding: 20px;
}

#skills-info>p{
    font-size: 18px;
    color: gray;
}

/* @media only screen and (max-width:950px){
    #hero-cotaineer{
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 10px;
    }
    
    #culture{
        width: 90%;
    }

    #culture>img{
        width: 100%;
        height: auto;
    }

    #sales-box{
        display: none;
        margin: 0;
    }

    #hero-containeer{
        display: flex;
        margin: 0;
        flex-direction: column;
    }

    #skills-info{
        width: 80%;
    }

    #skills-info h1 p{
        font-size: 3em;
        margin: 0;
    }
} */

@media only screen and (min-width:950px) {
    #newSales-info{
        display: none;
    }

    
    #newSales-info h1 p{
        width: 80%;
        margin: 0;
        font-size: 5em;
    }
}

#newSales-info{
    margin: 0;
}

#newSales-info>h1{
    font-size: 30px;
}

#newSales-info>p{
    margin: 0 1rem;
}