#section-3{
    margin: 1rem 5rem;
}

#section-3 h1{
    font-size: 40px;
    margin: 0 3rem;
}

#section-3>p{
    font-size: 20px;
    color: rgb(107, 107, 107);
    margin: 0 3rem;
}

#plans-containeer{
    display: flex;
}

#plans-containeer>div{
    width: 25vw;
    height: 70vh;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 2rem;
    border-top: 10px solid #5022c3;
}

#plans-containeer>div>div>h2{
    padding: 10px;
}

#active-now{
    border-top: 10px solid #a435f0 !important;
}

.plans div{
    display: flex;
    align-items: center;
    padding: 10px;
}

.plans>p{
    color: gray;
}

.button{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    cursor: pointer;
    padding: 10px;
}

.plan-details{
    width: 30vw;
    height: 5vh;
    display: flex;
    align-items: center;
}

.plan-details>img{
    width: 6%;
}
/* 
@media only screen and (max-width:950px){
    #section-3, .plans div{
        margin: 0;
        max-width: 100%;
    }

    #section-3 h1{
        font-size: 1.5em;
        margin: 0;
    }

    #section-3 p{
        font-size: 1em;
        margin: 0;
    }

    #plans-containeer{
        display: inline;
        align-items: center;
    }

    #plans-containeer div{
        margin: 0;
        max-width: 100%;
        width: 60%;
    }

    .plans h2, #plans-containeer h2, .button h2{
        font-size: 1.5em;
        width: 300px;
    }

    .plans p, #plans-containeer p, .plan-details p{
        font-size: 1em;
        width: 200px;
    }

    .button{
        width: 200% !important;
        margin: 1rem;
        height: 70px;
    }

    .plan-details{
        width: 20%;
        height: 20%;
    }

    .plan-details img{
        width: 100%;
        height: auto;
    }

    #active-now{
        display: block;
    }
} */