#navbar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

#navbar>img{
    height: 100%;
}

#dropdown:hover, #dropdown-list p:hover{
    text-decoration: underline;
    cursor: pointer;
}

#dropdown{
    position: relative;
    display: inline-block;
}

#dropdown-list>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    padding: 10px;
}

#dropdown-list{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#dropdown:hover #dropdown-list{
    display: block;
}

#navbar>span{
    border: none;
    outline: none;
}

#cart{
    cursor: pointer;
    margin-left: 10px;
}

#searchbar{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 30px;
    color: gray;
}

#searchbar>input{
    border: none;
    outline: none;
    width: 40vw;
}

#content{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

#content p{
    font-size: 0.9vw;
    font-weight: 700;
    width: 7vw;
}

#content p:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#nav-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

#signup{
    background-color: black !important;
    color: white !important;
}

#nav-buttons>button{
    width: 70px;
    height: 40px;
    color: black;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
}

#nav-buttons>button:hover{
    background-color: rgba(193, 191, 191, 0.855);
}
/* 
@media only screen and (max-width:950px){
    #navbar{
        display: flex;
        width: 100%;
        margin: 0;
        cursor: pointer;
    }

    #menu{
        justify-content: flex-start;
    }

    #navbar>img{
        margin-left: 12%;
    }

    #navbar>p{
        display:none
    }

    #content{
        display: none;
    }

    #nav-buttons{
        display: none;
    }

    #searchbar{
        border: none;
        display: end;
    }

    #searchbar>input{
        display: none;
    }
    
    #cart{
        display: contents !important;
    }
}*/

@media only screen and (min-width:950px){
    #menu{
        display: none;
    }
} 