#navbar{
    height: 10vh;
    display: flex;
    margin:0;
    align-items: center;
}

#navbar>img{
    height: 100%;
}


#navbar>span{
    border: none;
    outline: none;
}

#searchbar{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 20px;
    color: gray;
}

#searchbar>input{
    border: none;
    outline: none;
    width: 37vw;
}

#content{
    display: flex;
    gap: 20px;
}

#nav-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

#signup{
    background-color: black !important;
    color: white !important;
}

#nav-buttons>button{
    width: 65px;
    height: 40px;
    padding: 10px;
    color: black;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
}

#nav-buttons>button:hover{
    background-color: rgba(193, 191, 191, 0.855);
}


@media only screen and (max-width:950px){
    #navbar{
        display: flex;
        justify-content: space-between;
        width: 70vw;
        margin: 0;
        cursor: pointer;
    }

    #menu{
        justify-content: flex-start;
    }

    #navbar>img{
        margin-left: 12%;
    }

    #navbar>p{
        display:none
    }

    #content{
        display: none;
    }

    #nav-buttons{
        display: none;
    }

    #searchbar{
        border: none;
        display: end;
    }

    #searchbar>input{
        display: none;
    }
    
    #active{
        display: contents !important;
    }
}

@media only screen and (min-width:950px){
    #menu{
        display: none;
    }
}
