#section-2{
    margin: 0 5rem;
}

#section-2 h1{
    padding: 15px;
}

#goals{
    display: flex;
    justify-content: space-evenly;
}

#goals>div{
    flex-basis: 50%;
}

.criteria{
    border: 1px solid rgba(225, 221, 221, 0.834);
    width: 35vw;
    height: 30vh;
    border-radius: 10px;
    margin: 1rem;
    cursor: pointer;
}

#active{
    border: 1px solid rgb(82, 3, 151);
    border-left: 10px solid rgb(129, 5, 238);
}

#active:hover{
    border: 1px solid rgba(155, 152, 152, 0.834);
}

.criteria h1{
    margin: 0 2rem;
}

.criteria div{
    display: flex;
    align-items: center;
}

.criteria>div button{
    color: rgb(129, 5, 238);
    border:1px solid rgb(129, 5, 238);
    border-radius: 5px;
    background: white;
    height: 50%;
}

.criteria:hover{
    background-color: rgb(237, 237, 237);
}

.criteria p{
    margin: 1rem 2rem;
}

.more>p{
    color: rgb(129, 5, 238);
    font-weight: 700;
    font-size: 20px;
}

.more>span{
    color: rgb(129, 5, 238);
}

#score-card{
    border: 1px solid rgb(210, 208, 208);
    width: 35vw;
    height: 100%;
    padding:10px;
    border-radius: 20px;
}

#questions{
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    padding: 10px;
    background-color: #f1eff8;
}

#questions>h1{
    text-align: center;
}

#questions>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#colours-circle>span{
    margin: 0 1rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

#yellow{
    background-color: #f3c124;
}

#orange{
    background-color: #f96454;
}

#green{
    background-color: #23d33a;
}

#score{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 3rem;
}

#score>h1{
    font-size: 1.2rem;
}

#score>p{
    text-decoration: underline;
    color: rgb(129, 5, 238);
    cursor: default;
    font-size: 1rem;
}

#performance{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 3rem;
    padding: 10px;
    border: 1px solid rgb(210, 208, 208);
}

#performance>span{
    color: rgb(129, 5, 238);
}

#answers>h2, #answers>p{
    margin: 0 3rem;
    font-size: 1rem;
}

#answer{
    margin: 0 3rem;
}

#answer-score, .ans{
    display: flex;
    align-items: center;
    margin: 1rem;
}

#answer-score>div{
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
}

.ans>p{
    font-size: 12px;
    font-weight: 700;
}

.active{
    /* border-bottom: 2px solid rgb(129, 5, 238);
    border-top:2px solid rgb(129, 5, 238);  */
    color:rgb(129, 5, 238) ;
    background-color: #f1eefc;
}

#chart{
    border-bottom: 2px solid rgb(210, 208, 208);
    border-top:2px solid rgb(210, 208, 208); 
    display: flex;
    padding: 5px;
    margin: 1rem 3rem;
}

#high-score{
    margin-left: 20rem !important;
}

#chart span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 1rem;
    display: inline-block;
    background-color: rgb(129, 5, 238);
}

#chart h2, #chart p{
    font-size: 1rem;
}

#below-score{
    background-color:rgb(210, 208, 208) !important;  
    /* margin-right: 0 20rem !important; */
}

#ans-box{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 0 3rem;
    border: 1px solid gray;
    background-color: #f6f9fa;
}

#ans-box p{
    font-size: 0.8rem;
}

#ques-no{
    display: flex;
    align-items: center;
    gap: 20px;
}

#ques-no>h2{
    color: gray;
    font-weight: 700;
    font-size: 1rem;
}

#checkbox{
    border: 1px solid gray;
}

@media only screen and (max-width:950px){
    #section-2{
        margin: 5rem -5rem;
    }

    #section-2>h1{
        font-size: 1.5em;
        margin: 0;
    }

    .criteria, #active{
        display: none !important;
    }

    #score-card{
        width: 80%;
        margin: auto;
    }

    #colours-circle>span{
        max-width: 100%;
        margin: 1%;
         width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
    }

    #questions, #score, #performance, #answers, #answer-score{
        max-width: 100%;
        margin: 0;
    }

    #questions h1, #score h1, #chart h2, #answers h2, #ques-no h2{
        font-size: 1em;
        text-align: center;
    }

    #questions div, .ans #answer-score, #ans-box, #checkbox{
        max-width: 100%;
        margin: 0;
    }

    #questions p, #score p, #chart p, #performance p, #answers p, #ques-no p, #ans-box p{
        font-size: 0.8em;
    }

    #questions span{
        display: none;
    }

    #chart, #chart>div{
        max-width: 100%;
        margin: 1%;
    }

    #chart span{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        background-color: rgb(129, 5, 238);
    }

    #answer-score div{
        max-width: 100%;
        margin: 1%;
    }

    #answer-score p, #answer-score div{
        font-size: 0.6em;
    }

    #ans-box{
        display: inline;
    }

    #checkbox span{
        max-width: 100%;
        margin: 0;
    }

    #high-score{
        margin-left: 15rem !important;
    }
}

@media only screen and (max-width:480px){
    #section-2>h1{
        font-size: 1rem;
        margin: 0;
    }

    #score-card{
        width: 60%;
        margin: 0 auto;
    }

    #high-score{
        margin-left: 10rem !important;
    }
}